@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 100px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 10;
    font-family: "Martel Sans", sans-serif;
    padding: 0px 30px;
    text-align: center;
    gap: 23px;


}

.hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 48px;
}

.hero> :nth-child(2) {
    font-weight: 700;
    font-size: 24px;
}

.hero> :nth-child(3) {
    font-weight: 700;
    font-size: 24px;
}

.separation {
    height: 7px;
    background-color: rgb(58, 57, 57);
    position: relative;
    z-index: 100;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(221, 211, 211, 0.116);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    border-radius: 4px;
    font-size: 20px;
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 3px;

}

.main input {
    padding: 7px 101px 8px 14px;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgba(110, 110, 110, 0.24);
    border: 1px solid rgba(238, 232, 232, 0.815);
    font-weight: bold;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;

}

.secImg img {
    width: 30vw;
    position: relative;
    z-index: 10;
    
}

.secImg video {
    position: absolute;
    top: 78px;
    right: 33px;
    width: 26vw;

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;

}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.faqbox {
    display: flex;
    background-color: gray;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
    transition: all 1s ease-in-out;

}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox:hover {
    background-color: rgba(20, 20, 20, 0.829);
}

.faq svg {
    filter: invert(1);
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;

}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer {
    color: white;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}



footer a {
    font-size: 14px;
    color: white;
}

.questions {
    padding: 34px 0px;
}

@media screen and (max-width:1300px) {

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        color: white;
        gap: 25px;

    }
}

@media screen and (max-width:1300px) {

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
        position: relative;
        z-index: 10;

    }

    .secImg video {

        width: 26vw;

    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    nav {
        max-width: 90vw;
    }
    .hero-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        flex-direction: column;
        
    }
}